body {
  background: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

.blurb h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#main-navbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#main-navbar .nav-link {
  color: #fff;
}

#main-navbar .nav-link:hover {
  color: #ea1c2c;
}

#main-navbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
}

#heading-group span {
  color: #ea1c2c;
}

#heading-group h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: #dec0de;
  transition: background 500ms;
}

@media(max-width: 1200px) {
  #heading-group h1 {
    font-size: 3rem;
  }
  .blurb h2 {
    font-size: 2rem;
  }
}
